.btn-lg{
  margin-left: 180px;
  margin-top: 10px;
}
.btn-reg{
  margin-left: 130px;
  margin-top: 10px;
}
.btn-add {
  margin-left: 50px;
  margin-top: 10px;
}

.invalidpass{
  font-size: 50px;
  margin: 0;
  text-align: center;
  background-color: #d44a4a;

}

.userdubble {
  padding-top: 10px;
  font-size: 50px;
  margin: 0;
  color: black;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.btn-video{
  text-align: center;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  color: whitesmoke;
}

.containerLog{
  margin-top: 300px;
}
.fonLog{
  background-image: url('./images/1920x1080-px-digital-art-lotus-flowers-Magic-The-Gathering-skull-1340647.jpeg');
}
.fonReg{
  background-image: url('./img/img4.jpg');
}
.formReg{
  margin-top: 220px;
}
.btn-delete{
  margin-left: 100px;
  margin-top: 10px;
}

.btn-create{
  margin-left: 350px;


.personArea-background, .basket-background, .video-background {
  background-image: url(../images/5630974.jpg);

}
